body {
    display: flex;
    flex : 1;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;  
    justify-content: center; 
    align-items: center; 
}


.text {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}