body{
    display: flex;
    margin: 10px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'DosMyungjo';
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@font-face {
    font-family: 'DosMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.big-text{
    font-size: 64px;
}

.mid-text{
    font-size: 32px;
}

.small-text{
    font-size: 18px;
}