body{
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
}
.box-1{
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color: green;
    justify-content: left;
    align-items: flex-start;
    border: 1px solid white;
}

