body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosMyungjo';    
    flex-direction: column;
    height: 100vh;

}

@font-face {
    font-family: 'DosMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
    /* background-color: yellow; */
    /* color: black; */
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
    /* background-color: black; */
    /* color: white; */
}

main {
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.select {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}